:root {
  --black: #02090b;
  --charcoal: #081417;
  --dark: #101c1f;
  --med: #474a4b;
  --light: #deeaee;
  --blue: #4297a5;
  --blueLight: #29bed8;
  --blueDark: hsl(190, 68%, 12%);
  --ltGreen: #2dea8f;
  --green: #24b273;
  --red: #ea852d;
  --yellow: #cbea2d;
}

body {
  margin: 0;
  font-family: "Alata", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--light);
  width: 100vw;
  height: 100vh;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
}

.jCenter {
  justify-content: center;
}
.jSpBtw {
  justify-content: space-between;
}
.jSpAr {
  justify-content: space-around;
}

.jEnd {
  justify-content: flex-end;
}

.grow {
  flex-grow: 1;
}

.aCenter {
  align-items: center;
}
.meterCanvas {
  width: 100px;
  height: 1em;
}

.vertical {
  transform: rotate(-90deg) translateY(-40px);
  width: 100px;
}

.charcoal {
  padding: 0.5em;
  border-right: 2px solid var(--charcoal);
  border-left: 2px solid var(--charcoal);
}

.powerBtn {
  height: 36px;
  width: 36px;
  cursor: pointer;
}

.inputBtn {
  border: 1px solid var(--blue);
  font-weight: bold;
  border-radius: 5px;
  font-size: 0.875em;
  color: var(--blue);
  background: transparent;
  padding: 0.5em 0.75em;
  margin: 0 1em;
  transition: all 0.3s;
  font-family: "Alata", sans-serif;
}
.inputBtn:hover {
  background-color: var(--blue);
  color: var(--black);
}

button.power {
  background: transparent;
  border: none;
  justify-self: center;
}

.title {
  margin: 0;
  position: absolute;
  top: -1.5em;
  left: 0.4em;
  font-family: "Rubik", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  justify-self: flex-start;
  color: var(--black);
  transition: 0.3s all;
  cursor: pointer;
}

.bypassed {
  text-shadow: 0px 0px 3px var(--red);
}
.enabled {
  text-shadow: 0px 0px 7px var(--ltGreen);
}

svg {
  transition: 0.3s all;
}

.rack {
  display: flex;
  font-family: "Alata", sans-serif;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5em 1em;
  background: var(--dark);
  border: 1px solid var(--black);
}
.rackRt {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

p {
  margin: 0 1em;
}

.label {
  color: var(--blue);
}

.labelLt {
  color: var(--blueLight);
  background: var(--black);
  padding: 0 0.25em;
  border-radius: 3px;
}

.sm {
  font-size: small;
}

.green {
  color: var(--green);
}
.red {
  color: var(--red);
}
.grey {
  color: var(--med);
}

.blueLt {
  color: var(--blueLight);
}

select {
  margin: 0 2em;
  font-size: small;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  height: 100vh;
  width: 100vw;
}
.welcomeForm {
  color: var(--blue);
  text-align: center;
  line-height: 1.4em;
}

.agree {
  border: 1px solid var(--green);
  font-weight: bold;
  border-radius: 5px;
  color: var(--green);
  background: transparent;
  padding: 0.5em 1em;
  margin: 2em 1em;
  transition: all 0.3s;
  font-family: "Alata", sans-serif;
  cursor: pointer;
}
.agree:hover {
  background-color: var(--green);
  color: var(--black);
}
.disagree {
  border: 1px solid var(--red);
  font-weight: bold;
  border-radius: 5px;
  color: var(--red);
  background: transparent;
  padding: 0.5em 1em;
  margin: 2em 1em;
  transition: all 0.3s;
  font-family: "Alata", sans-serif;
  cursor: pointer;
}
.disagree:hover {
  background-color: var(--red);
  color: var(--black);
}

/* 
  Range Input Styles
*/
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* thumb */

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid var(--dark);
  height: 1.5em;
  width: 0.5em;
  border-radius: 3px;
  background: var(--blueLight);
  cursor: pointer;
  margin-top: -0.5em; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid var(--dark);
  height: 1.5em;
  width: 0.5em;
  border-radius: 3px;
  background: var(--blueLight);
  cursor: pointer;
}

/* track */

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: var(--black);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--blueDark);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: var(--black);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
