:root {
  --dark: #101c1f;
  --med: #474a4b;
  --light: #deeaee;
  --blue: #167a8b;
  --ltGreen: #2dea8f;
  --green: #24b273;
  --red: #ea2d2d;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: var(--light);
  width: 100vw;
  height: 100vh;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
}

.jCenter {
  justify-content: center;
}

.aCenter {
  align-items: center;
}
.meterCanvas {
  width: 100px;
  height: 1em;
}
